<nav class="navbar navbar-expand-lg fixed-top shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/LOGO.png" alt="Logo" style="width: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <% if (isLoggedIn) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="background-color: #d9534f; border-radius: 8px; color:#ffffff; padding-left: 20px; padding-right: 20px; font-size:small;">ออกจากระบบ</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login" style="background-color: #f3a954; border-radius: 8px; color:#ffffff; padding-left: 20px; padding-right: 20px; font-size:small;">เข้าสู่ระบบ / สมัครสมาชิก</a>
                    </li>
                <% } %>
                
                <li class="nav-item"><a class="nav-link" href="/checkout">🛒</a></li>
                <li class="nav-item"><a class="nav-link" href="#">🌐 TH</a></li>
            </ul>
        </div>
    </div>
</nav>
