<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restaurant Menu</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
         

        .hero-section {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
        button:hover, 
        a.nav-link:hover, 
        .bg-light:hover {
            background-color: #50a777 !important; /* สีเขียวอ่อน */
            color: white !important;
            transition: 0.3s ease-in-out;
        }

        .menu-section {
            padding: 50px 0;
        }

        .menu-category {
            margin-top: 30px;
        }

        
        .btn {
            font-family: "Oswald", sans-serif;
            font-weight: 600;
        }

        .menu-text {
            font-family: "Roboto Slab", serif;
            font-weight: 400;
        }
        .img_promote {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .promo-container {
            width: 100%;
            height: 570px; /* กำหนดความสูงให้แน่นอน */
            overflow: hidden; /* ป้องกันภาพล้นขอบ */
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .img-menu{
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 15px;
            
        }
        
    </style>
</head>
<body id="home-page" class="d-flex flex-column min-vh-100">
    <%- include('partials/navbar') %>
    <div class="container text-center mt-5 mb-5">
        <div class="promo-container bg-light border mb-5">
            <img src="/img/promote.png" alt="promote image" class="img_promote">
        </div>
        <div class="mt-4 d-flex justify-content-center gap-3 flex-wrap">
            <button class="btn btn-warning btn-lg" style="background-color: #009444; border-color: #26794a; color: rgb(255, 255, 255); padding: 15px 30px; font-size: 20px; border-radius: 12px; min-width: 220px;">
                <a href="/custom" class="nav-link">เลือกแบบเมนูของคุณ</a>
            </button>
            <button class="btn btn-outline-warning btn-lg" style="background-color: #f3a954; border-color: #26794a; color: rgb(255, 255, 255); padding: 15px 30px; font-size: 20px; border-radius: 12px; min-width: 220px;">
                <a href="/allsandwich" class="nav-link">เลือกแบบเมนูของเรา</a>
            </button>
        </div>
    </div>
    <div class="menu-section mt-1" style="padding-top: 15px;">
        <div class="container mt-1">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="mb-3" style="font-weight: bold;">เเซนวิซ</h3>
                <button class="btn btn-outline-dark btn-sm">
                    <a class="nav-link" href="/allsandwich">เพิ่มเติม</a>
                </button>
            </div>
            
                <div class="row mt-2">
            
                    <div class="col-md-3"><img src="/img/sandwichs/Teriyaki_Crunch.png" class="img-menu"></div>
                    <div class="col-md-3"><img src="/img/sandwichs/sanham.png" class="img-menu"></div>
                    <div class="col-md-3"><img src="/img/sandwichs/Tuna_Mayo.png" class="img-menu"></div>
                    <div class="col-md-3"><img src="/img/sandwichs/Turkey_Ham.png" class="img-menu"></div>
                    

            
                </div>
            
        </div>
    </div>

    <div class="menu-section mt-1" style="padding-top: 15px;">
        <div class="container mt-1">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="mb-3" style="font-weight: bold;">อาหารทานเล่น</h3>
                <button class="btn btn-outline-dark btn-sm">
                    <a class="nav-link" href="/appetizers">เพิ่มเติม</a>
                </button>
            </div>
            <div class="row mt-2">
                
                    <div class="col-md-3"><img src="/img/appetizers/onion_ring.png" class="img-menu"></div>
                    <div class="col-md-3"><img src="/img/appetizers/bbq_chiq.png" class="img-menu"></div>
                    <div class="col-md-3"><img src="/img/appetizers/mashed_potato.png" class="img-menu"></div>
                    <div class="col-md-3"><img src="/img/appetizers/frenchfries.png" class="img-menu"></div>
                
            </div>
        </div>
    </div>

    <div class="menu-section mt-1" style="padding-top: 15px;">
        <div class="container mt-1">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="mb-3 " style="font-weight: bold;">ชุดคอมโบ้</h3>
                <button class="btn btn-outline-dark btn-sm">
                    <a class="nav-link" href="/comboset">เพิ่มเติม</a>
                </button>
            </div>
            <div class="row mt-2">
                
                    <div class="col-md-3"><img src="/img/comboset/set_a.png" class="img-menu"></div>
                    <div class="col-md-3"><img src="/img/comboset/set_b.png" class="img-menu"></div>
                    <div class="col-md-3"><img src="/img/comboset/set_c.png" class="img-menu"></div>
                    <div class="col-md-3"><img src="/img/comboset/set_d.png" class="img-menu"></div>
                
            </div>
        </div>
    </div>

    <div class="menu-section mt-1" style="padding-top: 15px;">
        <div class="container mt-1">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="mb-3" style="font-weight: bold;">เครื่องดื่ม</h3>
                <button class="btn btn-outline-dark btn-sm">
                    <a class="nav-link" href="/drinks">เพิ่มเติม</a>
                </button>
            </div>
            <div class="row mt-2">
                
                    <div class="col-md-3"><img src="/img/drinks/7up.png" class="img-menu"></div>
                    <div class="col-md-3"><img src="/img/drinks/orange.png" class="img-menu"></div>
                    <div class="col-md-3"><img src="/img/drinks/pepsi.png" class="img-menu"></div>
                    <div class="col-md-3"><img src="/img/drinks/water.png" class="img-menu"></div>
                
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
